/OneDrive - CTU Career/Documents/NetBeansProjects/TaskManager/target/
/OneDrive - CTU Career/Documents/NetBeansProjects/Info/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/Info/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/Lecturer/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/Lecturer/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/GUI/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/GUI/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/Contact/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/Contact/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/Question1/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/Question1/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/Question2/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/CTU Timer/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/CTU Timer/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/CTU Timer/dist/
/OneDrive - CTU Career/Documents/NetBeansProjects/basic calculator/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/basic calculator/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/basic calculator2/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/basic calculator2/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/Basic counter/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/basic counter/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/counter/nbproject/private/
/OneDrive - CTU Career/Documents/NetBeansProjects/counter/build/
/OneDrive - CTU Career/Documents/NetBeansProjects/basic_calculator/nbproject/private/
